.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp

# dirs
bin/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
parts/
src/*
test.plone_addon/
var/
build/
dist/

# files
.installed.cfg
.mr.developer.cfg
lib64
log.html
output.xml
pip-selfcheck.json
report.html

# Docs
docs/Makefile
docs/make.bat
docs/doctrees
docs/html

# Editors
*.sublime-*
.Python
.DS_Store
.vscode
.idea

# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
!src/plone
