language: python
python:
  - 2.7.14
  - 3.5
sudo: false
cache:
  pip: true
  directories:
    - $HOME/buildout-cache
env:
  matrix:
    - PLONE_VERSION=4.3.x  QA=true
    - PLONE_VERSION=5.0.x  QA=true
    - PLONE_VERSION=5.1.x  QA=true

  allow_failures:
    - python: 3.5
before_install:
  - mkdir -p $HOME/buildout-cache/{eggs,downloads}
  - mkdir $HOME/.buildout
  - echo "[buildout]" > $HOME/.buildout/default.cfg
  - echo "download-cache = $HOME/buildout-cache/downloads" >> $HOME/.buildout/default.cfg
  - echo "eggs-directory = $HOME/buildout-cache/eggs" >> $HOME/.buildout/default.cfg
  - virtualenv --clear -p `which python` .
  - bin/pip install -r requirements.txt
install:
  - sed -ie "s#plone-x.x.x.cfg#plone-$PLONE_VERSION.cfg#" travis.cfg
  - bin/buildout -N -t 3 -c travis.cfg
script:
  - bin/code-analysis
  - bin/test
after_success:
  - bin/test-coverage
  - pip install coverage==3.7.1 coveralls
  - coveralls

notifications:
  email:
    - connect2nazrul@gmail.com