[buildout]
extends-cache = .cache
show-picked-versions = true
index = https://pypi.python.org/simple/

parts =
    instance
    test
    test-coverage
    code-analysis
    coverage
    i18ndude
    dependencychecker
    sphinxbuilder
    sphinx-python
    test-no-sphinx-warnings

develop = .


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
environment-vars =
    zope_i18n_compile_mo_files true
eggs =
    Plone
    Pillow
    isort
    doc8
    plone.app.fhirfield [test, fhirpath]


[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/src/plone
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-max-complexity = 20
return-status-codes = False
flake8-max-line-length = 88
flake8-ignore = Q000,W503,C812


[coverage]
recipe = zc.recipe.egg
eggs = coverage

[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    export TZ=UTC
    ${buildout:directory}/bin/coverage run bin/test $*
    ${buildout:directory}/bin/coverage html
    ${buildout:directory}/bin/coverage report -m --fail-under=90
    # Fail (exit status 1) if coverage returns exit status 2 (this happens
    # when test coverage is below 100%.
output = ${buildout:directory}/bin/test-coverage
mode = 755

[dependencychecker]
recipe = zc.recipe.egg
eggs =
    z3c.dependencychecker
    plone.restapi
scripts = dependencychecker


[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
initialization =
    os.environ['TZ'] = 'UTC'
defaults = ['-s', 'plone.app.fhirfield', '--auto-color', '--auto-progress']


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs/source
build = ${buildout:directory}/docs
interpreter = ${buildout:directory}/bin/${sphinx-python:interpreter}

[sphinx-python]
recipe = zc.recipe.egg
eggs =
    Plone
    Pillow
    sphinx_rtd_theme
    sphinxcontrib-httpdomain
    sphinxcontrib-httpexample
    plone.app.fhirfield
interpreter = sphinxPython

[test-no-sphinx-warnings]
recipe = collective.recipe.template
input = test-no-sphinx-warnings.in
output = bin/test-no-sphinx-warnings
mode = 755
