[buildout]
extends = plone-5.1.x.cfg

parts +=
    releaser
    omelette
    robot
    vscode

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,ride,reload]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser[recommended]
       certifi
       readme
       docutils


[vscode]
recipe = collective.recipe.vscode
eggs = ${instance:eggs}
flake8-enabled = True
flake8-path = ${buildout:directory}/bin/flake8
flake8-args = --max-line-length 88
black-enabled = True
black-args = --line-length 88 --skip-string-normalization
isort-enabled = True
isort-path = ${buildout:directory}/bin/isort

[versions]
zest.releaser = 6.15.2
twine = 1.12.1